.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  animation-duration: 200ms;
  margin-top: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  animation-duration: 200ms;
  margin-top: 2rem;
}


.div-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}


.arrow-left {
  cursor: pointer;
  width: 100px;
  height: 100px;
  color: #846ffa;
}

.card-arrow-home {
  width: auto
}

.card-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #eaf688;
  height: 10rem;
  width: 60%;
  transition: 200ms;
}

.card-div-container:hover {
  border-radius: 10px;
  background-color: #846ffa;
  height: 11rem;
}

.card-div-container-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #eaf688;
  width: 60%;
  height: 10em;
  transition: all 200ms;
}

.card-div-container-result:hover {
  border-radius: 10px;
  background-color: #846ffa;
  width: 61%;
  animation-duration: 200ms;
  height: 11rem;
}

.result-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: 60%;
  margin: 0 1rem;
  color: #846ffa;
  border-radius: 5px;
  font-size: 1.4rem;
  padding-left: 1rem;
  background-color: white;
  border: none;
  transition: all 200ms ease-in-out;
}

.result-text:hover {
  cursor: pointer;
  background-color: #846ffa;
  color: white;
}

.button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  color: white;
  background-color: #846ffa;
  width: 20%;
  height: 4rem;
  transition: all 200ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  color: #846ffa;
  background-color: #eaf688;
}

.button:active {
  color: #846ffa;
  background-color: white;
}

.input-text {
  height: 3.2rem;
  width: 60%;
  margin-right: 1rem;
  color: #846ffa;
  border-radius: 5px;
  font-size: 1.4rem;
  padding-left: 1rem;
  background-color: white;
  border: none;
  transition: all 200ms ease-in-out;
}

.span {
  color: #846ffa;
}

.span-link {
  color: #735fe6;
}

.span-link:hover {
  color: #4f3cb8;
}

.span-link:active {
  color: #7766d4;
}