.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 100%;
  color: #846ffa;

}

.container:hover {
  color: #846ffa;
  transition-duration: 240ms;

 



}


.span-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 2em;
  color: #846ffa;
  transition-duration: 240ms;
}