.div-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #846ffa;
  text-align: center;
}

.div-container:hover {
  background-color: #eaf688;

}