.header-h1 {
  color: #846FFA;
  font-weight: 900;
  font-size: 4.3rem;
  margin: 0;
  margin-top: 2rem;
  transition-duration: 300ms;
  cursor: default;

}

.header-h1:hover {
  cursor: default;
  color: #4e37d3;
  font-size: 4.7rem;
  transition-duration: 300ms;


}

.header-description {
  cursor: default;
  font-size: 1.9rem;
  font-weight: 40;
  color: #846FFA;
  transition: 500ms;
}

